header>.navLogin {
    gap: 1rem;
    display: flex;
}


form>p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--grey2);
    margin-left: 2rem;
}

form>.ou {
    margin: 0 auto;
}



@media (max-width: 769px) {

    body {
        width: 100vw;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    main>img {
        height: 500px;
    }

    form {

        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
    }

    form>p {
        width: 70%;
    }
}